<!DOCTYPE html>
<html>
<head>
	<title>demo app</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}" />
</head>
<body>
	<div class="wrap">
	   <div class="search">

	      <div>
	      	<input type="text" class="searchTerm" placeholder="enter submission url to predict flair" style="text-align: center;">
	   	 	<button type="submit" class="searchButton" >Predict</button>

         	<!-- <i class="fa fa-search"></i> -->
          </div>

          <form action = {{url_for("predict")}} method="POST">
				<label for="input"><h4>Write Your Message:</h4></label>
				 <textarea class="form-control" rows="5" id="comment" name="message"></textarea>
				 <br>
				<center>
					<input type="submit" class="btn btn-info" value="predict">
				</center>
		</form>
     
	   </div>

	</div>
</body>
</html>